#individual configs
.vs/

# compilation
build/
bin/
*.o
*.a
*.exe
compile_commands.json
CMakeUserPresets.json

# server files
*.db
public/*

# Certificati e chiavi private (generico)
*.pem
*.crt
*.key
*.p12
*.pfx
*.csr

# Specifici per il tuo progetto uWebSockets
key.pem
cert.pem