.vs/
.vscode/
frontend/.vscode/

build/
bin/
*.o
*.a
*.exe
compile_commands.json
CMakeUserPresets.json

node_modules/

*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
db_data/
public/*

*.pem
*.crt
*.key
*.p12
*.pfx
*.csr

docs/
frontend/docs
frontend/src/lib/generated/

key.pem
cert.pem

.env

.sqliterc
